<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HireSessions</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>

</head>
<body>
<div style="
    min-width: 100vh;
    min-height: 100vh;
    padding: 50px;
    font: 16px Montserrat;
    color: #545454;">
    <h3 style="line-height: 1.5;">Your Zoom link for Hosting your Group Info Session</h3>
    <table style="
        background-color: #fff;
        max-width: 800px;
        width: 100%;
        margin-top: 40px;
        padding-left: 30px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        line-height: 1.6;
    ">
        <tr>
            <td>
              <span>
                The Group Session is on {{date}} at {{time}} {{timezoneName}}
              </span>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 1.5; margin-top: 18px"> Please use this URL to <a href="{{startUrl}}" style="color: #2247ff; text-decoration: none">Host</a> the meeting</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
              <p style="line-height: 1.5; margin-top: 18px">
              Your Meeting ID is: {{meetingId}}
              </p>
            </td>
        <tr>
        </tr>
        <tr>
            <td colspan="2">
              <span>
                Your Meeting password is:  {{password}}
              </span>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 1.5; margin-top: 30px">
                    You can also log in to HireSessions and click the link for this Group Info Session.

                    If you have any questions, please contact support@hiresessions.com.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 1.5; margin-top: 50px">
                    Best regards, <br/>
                    The HireSessions Team<br/>
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
