<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HireSessions</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>

</head>
<body>
<div style="
    min-width: 100vh;
    min-height: 100vh;
    padding: 50px;
    font: 16px Montserrat;
    color: #545454;">
    <h3 style="line-height: 1.5;">Thank you for Creating a Group Info Session</h3>
    <table style="
        background-color: #fff;
        max-width: 800px;
        width: 100%;
        margin-top: 40px;
        padding-left: 30px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        line-height: 1.6;
    ">
        <tr>
            <td>
              <span>
                Your Group Session is on {{date}} at {{time}} {{timezoneName}}
              </span>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 1.5; margin-top: 18px">20 Minutes prior to the start of your Group Info Session, we will forward you a link to start your Group Session.
                 You can also access the link on your HireSessions Dashboard - "Group Sessions" tab. 
                 On the Group Session tab you will be able to review all candidates who reserve a spot to learn more about your organization.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 1.5; margin-top: 30px">
                    If you have any questions, please contact support@hiresessions.com.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height: 1.5; margin-top: 50px">
                    Best regards, <br/>
                    The HireSessions Team<br/>
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
